---
import Section from './Section.astro'
---

<Section title='Accesorios' subtitle='' color='black '>
	<div slot='footer' class='flex gap-x-6 mx-auto'>
		<a
			class='border-[3px] border-gray-600 bg-gray-600 text-sm rounded font-medium text-white px-12 py-2 inline-block transition-colors hover:border-gray-500 hover:bg-gray-500'
			href='#'>
			Comprar Ahora</a
		>
	</div>
	<img
		slot='background'
		src='/accessories.avif'
		alt='Accessories'
		class='h-full w-full object-cover object-center'
	/>
</Section>
